@charset "utf-8";

/* reset css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin: 0; padding: 0; box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;}
html, body, input, textarea, select, button, table, li, dd, p, b, span, em, strong{-webkit-text-size-adjust: none;}
html{touch-action: none; font-size: 16px; font-weight: 400; line-height: 1.1; letter-spacing: -0.025em; color: #000;
    -ms-touch-action: none;}
body{-webkit-text-size-adjust: none;}
html, body{width: 100%; height: 100%;}
h1, h2, h3, h4, h5, h6{font-weight: 400; font-size: 1rem;}
table{width: 100%; border-collapse: collapse; border-spacing: 0;}
table, fieldset, th, td, img{border: none 0; font-weight: 400;}
td{word-break: break-all;}
ul, ol, menu{list-style: none;}
address, em{font-style: normal;}
a, a:link, a:visited, a:hover, a:active, a:focus{color: #000; text-decoration: none;}
strong{font-weight: 400;}
input, select, textarea{vertical-align: middle;}
img, fieldset{border: 0;}
img{font-size: 0; line-height: 0; vertical-align: top;}
label{cursor: pointer;}
button{display: inline-block; margin: 0; padding: 0; border: 0; background: none; text-align: center; cursor: pointer; vertical-align: middle; letter-spacing: -0.025em;}
button::-moz-focus-inner{margin: 0; padding: 0; border: 0;}
input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=number],
input[type=file],
textarea{margin: 0; padding: 0 15px; width: 100%; height: 44px; box-sizing: border-box; background-color: #fff; border: 1px solid #dddfe1; font-weight: 300; font-size: 0.9375rem; letter-spacing: -0.025em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=file]:focus,
textarea:focus,
select:focus{outline: none !important; border-color: #41abff;}
input[type=text]::-ms-clear,
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear{display: none;}
input[readonly]{background-color: #f8f8f8; color: #c5c5c5;}
select::-ms-expand{display: none;}
::-webkit-input-placeholder{font-size: 0.9375rem; color: #999;} /* Chrome/Opera/Safari */
::-moz-placeholder{color: #999;}/* Firefox 19+ */
:-ms-input-placeholder{color: #999;}/* IE 10+ */
:-moz-placeholder{color: #999;}/* Firefox 18- */
textarea{padding: 10px 15px; height: 177px; resize: none; line-height: 1.7;}

/* html5 reset */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}

/* util */
.scroll_off{position: fixed; overflow: hidden; height: 100%;}
.clearfix::after{display: block; clear: both; content: ""; height: 0; visibility: hidden;} 
caption{visibility: hidden; overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0;}
legend, .blind{visibility: hidden; overflow: hidden; position: absolute; left: 0; top: 0; margin: 0; padding: 0  !important;  width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important;}

/* display */
.pc{display: block;}
.mobile{display:none;}

.show{display: block !important;}
.hide{display: none !important;}

