@charset "utf-8";
/* _common.scss */

/* display */
.blind {visibility: hidden; overflow: hidden; position: absolute; left: 0; top: 0; margin: 0; padding: 0  !important;  width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important;}

.pc {display: block !important;}
.mobile {display: none !important;}

.show {display: block !important;}
.hide {display: none !important;}

/* disabled */
.disabled {background: #d6d6d6 !important; color: #000000 !important; cursor: default;}

/* clear */
.clearfix::after {display: block; clear: both; content: ""; height: 0; visibility: hidden;}

/* 줄처리 */
.txt_over {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.txt_over_many {display: -webkit-box; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}

/* 영역 */
.inner {width: 1200px; margin: 0 auto;}
// .inner {height: 100%; padding: 0 16px;}

/* font */
.underline {text-decoration: underline !important; text-underline-position: under;}

/* float */
.fl_l {float: left;}
.fl_r {float: right;}

// width px
@for $i from 1 through 150 {
    .w#{$i*10} {
        width: #{$i * 10}px !important;
    }
}

// height px
@for $i from 1 through 100 {
    .h#{$i*10} {
        height: #{$i * 10}px !important;
    }
}

// text-align
@each $txt_position in center, right, left {
    .txt_#{$txt_position} {
        text-align: #{$txt_position} !important;
    }
}

/* select_text-align */
@each $sel_txt_position in center, right, left {
    .sel_txt_#{$sel_txt_position} {
        text-align-last: #{$sel_txt_position} !important;
    }
}

/* popup */
.popup {
    display: none; position: fixed; top: 0; left: 0; z-index: 1010; width: 100%; height: 100%;

    .popup_wrap {
        @include  translate(-50%, -50%);

        position: absolute; top: 50%; left: 50%; max-width: 1180px; width: 90%; background: #ffffff;

        .popup_title {
            padding: 5px 8px; border-bottom: 2px solid #e3e3e3;
        }

        .popup_contents {
            padding: 5px 8px;
        }

        .popup_footer {
            padding: 5px 8px;
        }

        .popup_close {
            position: absolute; top: 5px; right: 8px; cursor: pointer;
        }
    }

}

/* table */
.wrap .tbl {
    border-top: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3; table-layout: fixed; background: #f7f7f7;

    thead th,
    tbody th,
    tbody td {
        border-left: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3;
    }
}

/* paging */
.wrap .paging {
    padding: 60px 0 0; text-align: center;
    .paging_box {
        a {
            display: inline-block; width: 50px; padding: 10px; border: 1px solid #e3e3e3; color: #898989;
        }

        .atv {
            border-color: #000000; color: #000000;
        }

        img {
            vertical-align: bottom;
        }
    }
}

@include base {
    .inner {width: 100%;}
}

@include mobile {
    /* display */
    .pc {display: none !important;}
    .mobile {display: block !important;}

    /* paging */
    .wrap .paging {
        font-size: 13px;

        .paging_box {
            width: auto; padding: 0; border: 0;

            span {padding: 5px; color: #898989;}
            img {width: 10px; height: 11px; vertical-align: baseline;}
            .atv {color: #000000;}
            .btn {padding: 6px 11px; border: 1px solid #e3e3e3;}
            .prev {margin: 0 10px 0 0;}
            .next {margin: 0 0 0 10px;}
        }
    }
}