@charset "utf-8";
/* _base.scss */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0;}
html, body, input, textarea, select, button, table, li, dd, p, b, span, em, strong {
    @extend %text-size-adjust;
}
html, body {width: 100%; height: 100%;}
html {
    font: {
        weight: 400;
        size: 16px;
        family: "Nanum Gothic", sans-serif;
    };
}
address, caption, cite, code, dfn, em, th, var, i {font-style: normal;}
dd, dl, dt, ul, ol, li {list-style: none;}
h1, h2, h3, h4, h5, h6 {font-weight: 400; font-size: 1rem;}
table {width: 100%; border-collapse: collapse; border-spacing: 0;}
table, caption, th, td {border: 0; font-weight: 400;}
caption {visibility: hidden; overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0;}
td {word-break: break-all;}
fieldset, iframe, img {border: 0;}
legend {display: block; width: 100%; border: 0;}
button, input, textarea {width: 100%; height: 44px; padding: 5px 16px; border: 1px solid #dddfe1; border-radius: 0; font-family: "Nanum Gothic", sans-serif; line-height: 1; background: transparent; outline: none;}
textarea {word-break: keep-all; word-wrap: break-word;}
select {
    @extend %appearance;

    width: 100%; height: 44px; padding: 5px 16px; font-family: "Nanum Gothic", sans-serif; font-weight: 300; font-size: 0.9375rem; color: #000; outline: none;
}
button {width: auto; height: auto; padding: 6px 12px; cursor: pointer;}
pre{font-family: "Nanum Gothic", sans-serif; white-space: pre-wrap; word-wrap: break-word;}
a {color: inherit; text-decoration: none;
    &:link,
    &:hover,
    &:active {
        color: inherit;
        text-decoration: none;
    }
}
strong {font-weight: 400;}

* {
    @extend %border-box;
}